body {
  background-color: rgb(235, 235, 235);
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* navbar design */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 22px 45px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
  border-radius: 10px;
  transition: 0.4s;
}

.active {
  background-color: #7952b3;
}
.same {
  color: #7952b3;
}
.home {
  color: #333;
}

/* Heading */
.heading {
  justify-content: center;
  align-items: center;
}
.heading h1 {
  text-align: center;
  color: #7952b3;
}
p {
  text-align: center;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

/* search box */
.search-container {
  background-color: #3333332d;
  width: 35%;
  border-radius: 6px;
  margin: auto;
  margin-top: 50px;
}
.inner-box {
  padding-left: 20px;
  padding-right: 20px;
}
.search-box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  color: #7952b3;
}
.search-box-city {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.search-box-code {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.my-input {
  width: 400px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.my-input:focus {
  outline: none;
  border-color: #a5c2e1;
  box-shadow: 0 0 5px rgba(151, 189, 229, 0.5);
}
.search-butt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.search-button {
  width: 400px;
  height: 40px;
  border-radius: 3px;
  background-color: #7952b3;
  color: white;
  font-size: 16px;
  border: hidden;
  cursor: pointer;
}
.search-button:hover {
  background-color: #633aa0;
  transition: 0.4s;
}

/* Dropdown button style */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

#myDropdown {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none; /* Remove default arrow */
}

#myInput {
  margin-top: 10px;
  width: 200px;
  padding: 10px;
}

/* Banner */
.banner {
  width: 100%;
  margin: auto;
  background-color: #7952b3;
  margin-top: 30px;
  margin-bottom: 60px;
}
.banner img {
  width: 100%;
}

footer {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #333;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #f2f2f2;
}

footer p {
  margin: 0;
}

/* CEKPAJAK */

/*---------------------
   Highlights Section
 -------------------- */
.highlights {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 66px;
  max-width: 60%;
  margin: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}
.left-highlights {
  padding: 20px;
}
.left-highlights h1 {
  font-size: 26px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  text-align: left;
}
.left-highlights p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
  text-align: left;
}
.right-highlights {
  margin: auto;
}
.right-highlights img {
  max-width: 130px;
  max-height: 180px;
}
.left-highlights a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  background-color: #7952b3;
  padding: 10px 24px;
  transition: 0.3s;
  border-radius: 5px;
}
.left-highlights a:hover {
  color: #ffffff;
  background-color: #50288d;
}

/* News Section */

.news-container {
  margin: 50px;
}
.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  column-gap: 15px;
}
.left-news img {
  width: 100%;
}
.right-news {
  padding: 20px;
}
.right-news h1 {
  font-size: 35px;
  font-weight: 600;
  color: black;
  margin-top: 10px;
  margin-bottom: 0;
}
.right-news p {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  text-align: left;
  padding-top: 20px;
}

.container {
  width: 85%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid rgba(18, 17, 17, 0.296);
}


/* Mobile Responsiveness */
@media only screen and (max-width: 700px) {
  .right-cek-pajak {
    display: none;
  }
  .search-container {
    width: 90%;
  }
  .news-container {
    margin: auto;
    width: 90%;
    margin-bottom: 30px;
  }
  .cekpajak-news {
    display: grid;
    grid-template-columns: 1fr;
  }
  .highlights {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 66px;
    max-width:80%;
   
    margin-bottom: 10px;
    border-bottom: 1px solid;
  }
  .right-highlights{
    margin-bottom: 30px;
   
  }
  .news {
    display: grid;
    grid-template-columns: 1fr;
  }

}
